<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suku Kata Bingo</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Permainan Suku Kata</h1>
  <div class="bingo-header">
    <div class="header-cell" id="B">B</div>
    <div class="header-cell" id="I">I</div>
    <div class="header-cell" id="N">N</div>
    <div class="header-cell" id="G">G</div>
    <div class="header-cell" id="O">O</div>
  </div>
  <div id="bingo-board" class="bingo-board"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>

  <footer class="footer">
    Dibangunkan oleh Cikgu Abdul Halim
  </footer>
</body>
</html>
